<%= form_for [@room, Message.new], remote: true do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body, data: { role: "message-body" } %>
  </p>
  <p><%= f.submit 'post message' %></p>
<% end %>
