<div class="message">
  <div>
    <strong><%= message.user.name %></strong> <small class="text-muted"><%= message.created_at.strftime("%l:%M %p") %></small>
  </div>
  <div>
    <%= auto_link(message.body, html: { :target => '_blank' }) { |text| truncate(text, length: 35) }%>
  </div>
</div>
